*{
    margin: 0;
    padding: 0; 
}
.main{
    background: #154c79;
    height: 100%;
    width: 100%;
    position: fixed;
}
h1{
    text-align: center;
    text-decoration: solid;
    color: #2DD284;
}
.nav_bar {
    text-align:end;
    margin: 1rem ;
    font-weight: bold;
}
.nav_bar :hover{
    background-color: blue;
    text-decoration: underline;
}
a{
    margin-right: 25px;
    text-decoration: none;
    color: white;
}
img{
    height: 100px;
    width: 100px;   
}
.service{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
}
h2{
    color: #1ECBE1;
}
button{
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    margin-top: 1rem;
}
button:hover{
    color: white;
    background-color: #1ECBE1;
    
}
.box1{
    margin-left: 20px;
    height: 250px;
    width: 250px;
}
.box2{
    margin-left: 20px;
    height: 250px;
    width: 250px;
}
.box3{
    margin-left: 20px;
    height: 250px;
    width: 250px;
}