*{
    margin: 0;
    padding: 0; 
}
.main{
    background: #154c79;
    height: 100%;
    width: 100%;
    position: fixed;
}
.nav_bar {
    text-align:end;
    margin: 1rem ;
    font-weight: bold;
}
.nav_bar :hover{
    background-color: blue;
    text-decoration: underline;
}
a{
    margin-right: 25px;
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
    text-decoration: solid;
    color: #2DD284;
}
img{
    height: 100px;
    width: 100px;   
}
#skils div{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 6rem;   
}
a :hover{
    border: 2px solid black;
}
img:hover{
    height: 120px;
    width: 120px;   
}
#skils div h3:hover{
    background-color: blue;
}
